.fp-close-auth {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 999;
}

.gh-input-icon > .fa {
	position: absolute;	
	z-index: 2;	
	color: #a6b4ba;
}

.gh-input-icon > .fa-envelope-o {
	top: 30%;
	left: 9px;
	font-size: 14px;
}

.gh-input-icon > .fa-lock {
	top: 30%;
	left: 12px;
	font-size: 15px;
}